
.kotak-header{
 
display: flex;
padding: 10px;
}

.awan{
    width:150px;
}

ul.list{
    padding: 0px;
    margin: 0px;
}

ul.list li{
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

ul.list li a{
    text-decoration: none;
    color: black;
}

.difgambar{
    width: 10%;
}

.difmenu{
    width: 60%;
    padding-left: 60px;
}

.difkanan{
width: 30%;
justify-content: flex-end;
column-gap: 30px;
}

.tengah{
    display: flex;
    align-items: end;
}

ul.list li.aktif a{
    padding: 5px 30px;
    background-color: #E6C9FF;
    border-radius: 20px;
}

.judul{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
}

.relatif{
    position: relative;
}

.pencarian{
    display: flex;
    background-color:#E6C9FF;
    padding: 5px;
    align-items: center;
    border-radius: 20px;
    padding-left: 10px;
}

.pencarian input{
    background-color: transparent;
    border: none;
    margin-left: 5px;
}

.pencarian input:focus {
    outline: none;
    box-shadow: none;
    border: none; 
  }
  
a.icn {
    background-color: #E6C9FF;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    line-height: 35px;
    color: black;
}

.bingkai{
    position: relative;
    display: block;
    margin: 30px 10px;


}

.kolomkiri{
  
    width:calc(70% - 10px);
}

.kolomkanan{
 
    width: 30%;
} 

.kotak{
 display: flex;
 column-gap: 10px;

}

.box{
    width: 100%;
    min-height: 200px;
}